<h2>ログインしているユーザー：<%= current_user.name %></h2>
<h3>▼こちらからラインアカウントを追加してください！▼</h3>
<a href="https://lin.ee/0rHQzhh"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
<img src="https://qr-official.line.me/sid/M/220qvdcr.png">

<h3>タスクの追加</h3>
<%= form_with model:@post do |f| %>
    <div class="form">
        <%= f.label :body %>
        <%= f.text_field :body %>
    </div>
    <div class="form">
        <%= f.label :endday %>
        <%= f.date_field :endday %>
    </div>
    <%= f.submit %>
<% end %>

<h3>タスク一覧</h3>
<% @posts.each do |p| %>
    <div class="post">
        <b>タスク</b>：<%= p.body %>
        <b>期限</b>：<%= p.endday %>
    </div>
<% end %>